{:paths ["src" "test"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}
                  :main-opts ["-m" "clojure.test"
                              "--regex" "rtfs-clojure\\..*-test$"]}}} ; Updated regex